body {
  background-color: cornsilk;

  font-family: sans-serif;
}

.active {
  font-weight: bold;
}

.lanes {
  overflow-x: scroll;
}

.add-lane,
.lane {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.lane {
  background-color: #eee;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0.3em .03em rgba(0,0,0,.3);
  width: 10em;
}

.lane-header {
  overflow: auto;
  font-weight: bold;
}

.lane-delete {
  float: right;
  visibility: hidden;
}

.lane-header:hover .lane-delete {
  visibility: visible;
}

button {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  cursor: pointer;
}

.notes {
  margin: 0.5em 0 0;
  padding-left: 0;
  list-style: none;
}

.note {
  overflow: auto;

  margin-bottom: 0.5em;
  padding: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);
}

.note:hover {
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.7);

  transition: .6s;
}

.note .value {
  /* force to use inline-block so that it gets minimum height */
  display: inline-block;
}

.note .editable {
  float: left;
}

.note .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}

.note:hover .delete {
  visibility: visible;
}

.lane-add-note {
  /* float: right; */
}
